@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
	--background: 187 237 252;
	--primary: 187 237 252;
	--secondary: 8 39 42;
	--sky100: 253 250 254;
	--sky200: 209 242 253;
	--sky300: 189 237 252;
}

.dark {
	--background: 8 39 42;
	--primary: 187 237 252;
	--secondary: 8 39 42;
	--sky100: 253 250 254;
	--sky200: 209 242 253;
	--sky300: 189 237 252;
}

body {
	background-color: rgb(var(--sky100));
}

.modal-open {
	overflow: hidden;
}

.modal-open::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
}
